.spinner {
  animation: 3s linear infinite rot;
  transform-origin: 50% 50%;
  /*   without this line, the path would rotate about the entire svg's viewbox */
  transform-box: fill-box;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
