@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans;
  }

  /* html body */
  body {
    @apply overscroll-y-none;
    -webkit-overflow-scrolling: touch;
  }
  /* app body */
  .body {
    @apply flex-grow relative block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-bold text-primary-dark;
  }

  h1 {
    @apply text-4xl font-extrabold tracking-wider;
  }
  h2 {
    @apply text-3xl font-extrabold;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }

  p {
    @apply font-sans text-sm leading-6 font-normal; /* font-light */
  }

  a {
    @apply cursor-pointer;
  }

  a.wavy {
    @apply text-black hover:text-secondary-dark hover:underline hover:decoration-wavy hover:underline-offset-4;
  }

  a.wavy2 {
    /* background: linear-gradient(to bottom, #0087ca 0%, #0087ca 100%); */
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: inherit;
    text-decoration: none;
  }
  a.wavy2:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 0.4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%230087ca' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-size: auto 4px;
    background-position: bottom 50%;
  }

  .button {
    @apply bg-primary-dark hover:bg-secondary-dark text-secondary-light font-display uppercase self-start px-4 py-2 rounded-full tracking-wide font-bold;
  }

  .button.light {
    @apply bg-secondary-light hover:bg-primary-light text-primary-dark;
  }

  .button.large {
    @apply text-xl px-8 py-4;
  }
  /*
  button {
    @apply cursor-pointer flex justify-center items-center self-center px-4 py-3 gap-2 rounded-md font-display font-semibold text-2xl;
  }

  button.primary {
    @apply bg-primary-light;
  }
*/
  /* 
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @apply m-0 p-0 bg-primary-dark border-0 border-b-2 border-primary-light focus:ring-0 focus:border-secondary-light; -translate-y-1
  }

  textarea {
    @apply resize-none m-0 p-0 bg-primary-dark border-0 border-b-2 border-primary-light focus:ring-0 focus:border-secondary-light; -translate-y-1
  }
  */
}

@layer components {
  .prose {
    @apply max-w-2xl;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
  @apply md:mr-[15px];
}

.stop-scrolling #home-page {
  @apply lg:mr-0 md:mr-0;
}

.stop-scrolling #home-page #menu-button {
  @apply lg:mr-[15px];
}
.stop-scrolling #home-logo {
  @apply lg:mr-[15px];
}

.stop-scrolling #banner-image-container {
  @apply lg:!max-w-[calc(100vw_-_15px)];
}

/* react-responsive-carousel overrides */
.carousel .slide {
  @apply md:!mt-auto md:!mb-auto;
}
