@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Mundial";
    font-weight: 700;
    src: url("/fonts/MundialBold.otf") format("otf");
  }

  @font-face {
    font-family: "Mundial";
    font-weight: 600;
    src: url("/fonts/MundialDemibold.otf") format("otf");
  }

  .body {
    @apply flex-grow relative block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-bold text-primary-dark;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }

  p {
    @apply font-sans text-sm leading-6 font-medium;
  }

  a {
    @apply cursor-pointer;
  }

  /*
  button {
    @apply cursor-pointer flex justify-center items-center self-center px-4 py-3 gap-2 rounded-md font-display font-semibold text-2xl;
  }

  button.primary {
    @apply bg-primary-light;
  }
  */

  /* 
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @apply m-0 p-0 bg-primary-dark border-0 border-b-2 border-primary-light focus:ring-0 focus:border-secondary-light; -translate-y-1
  }

  textarea {
    @apply resize-none m-0 p-0 bg-primary-dark border-0 border-b-2 border-primary-light focus:ring-0 focus:border-secondary-light; -translate-y-1
  }
  */
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
